.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;

  .wrap {
    height: 36px;
  }
}
